/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/tailwind.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Poppins";

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: bold;
  font-weight: 700;
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: bold;
  font-weight: 900;
  src: url("./assets/fonts/Poppins/Poppins-Black.ttf");
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}


.container {
  @apply mx-auto max-w-2xl py-16 px-4;

  // padding-top: 20vh;
}

.hyphens-auto {
  hyphens: auto;
  word-break: break-all;
}

.hyphens-auto-mobile {
  @media screen and (max-width: 768px) {
    hyphens: auto;
    word-break: break-all;
  }
}

.full-height-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // text-align: center;
  height: 100vh;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.badge.h-auto {
  border-radius: 12px;
}